<main>
  <h1 class="text-3xl font-bold">Turning Your Resume into a Total Game Changer</h1>
  <p>ResumeWrite Takes your resume from 'meh' to 'oh yeah!' Imagine your resume getting a real Canadian boost? Time to level up that career journey, and turn Your Resume into a Game Changer!</p>
  <div class="">
    <button class="">Count Me In, Eh?</button>
  </div>
</main>